* {
    box-sizing: border-box;
    /* font family */
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
}

@font-face {
    font-family: "Northline";
    src: url('../fonts/northline.ttf');
}

@font-face {
    font-family: "Confirm";
    src: url('../fonts/confirm.otf');
}

@font-face {
    font-family: "Sweet";
    src: url('../fonts/SweetPuppy.ttf');
}

@font-face {
    font-family: "Weathertop";
    src: url('../fonts/weathertop.ttf');
    font-weight: lighter;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/*++++++++++++++++Style the navbar++++++++++++++++*/

.content {
    max-width: 100%;
    /*margin: auto;*/
    padding: 0 30px;
}

.navbar {
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 25px 0;
    transition: all 0.3s ease;
}

.navbar.cerrar {
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 10px 0;
    background: rgba(255, 255, 255, 0.8);
    transition: all 1s ease;
}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    width: 100%;
}

.navbar .menu-list {
    display: inline-flex;
}


/*Para que el texto del navbar pueda ser mnas largo y mantenerse en la misma línea*/

.navbar .content .menu-list {
    width: 100%;
    /*Hacer que baje en el responsive*/
    margin-left: 20%;
}


/*--*/

.menu-list li {
    list-style: none;
    display: inline-flex;
    align-items: flex-end;
}

.menu-list li a {
    color: #1d80c4;
    font-size: 25px;
    font-weight: 700;
    margin-left: 35px;
    text-decoration: none;
    transition: all 0.3s ease;
    font-family: "Confirm";
}

.menu-list li a:hover {
    /*font-weight: 1000;*/
    color: rgb(0, 217, 255);
}

.icon {
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.icon.menu-btn {
    color: #1d80c4;
}

.icon.cancel-btn {
    color: #ffffff;
    position: absolute;
    right: 30px;
    top: 20px;
}

html {
    scroll-behavior: smooth;
}


/*++++++++++++++Style the header+++++++++++++++++*/

.header {
    background-image: url('../img/head2.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 10% 25%;
    text-align: center;
}

.header h1 {
    font-size: 6vw;
    font-family: "Northline";
}

.header h2 {
    font-size: 2vw;
    font-family: "Northline";
}

.titulo {
    backdrop-filter: blur(6px);
    border: 0.70vw solid #1d80c4;
}

.titulo h1,
.titulo h2 {
    color: #1d80c4;
    /*color: rgb(40, 128, 211);*/
}


/*++++++++++++++++Styles one-column+++++++++++++++*/

.one-column {
    float: left;
    width: 100%;
    padding: 5%;
}

.one-column h1 {
    font-size: 2.5vw;
    color: black;
    text-align: center;
    font-family: "Confirm";
    color: #1d80c4;
}

.one-column p {
    font-size: 1.5vw;
    color: black;
}


/*.one-column img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/


/*+++++++++++++++Styles two-column+++++++++++++++++*/

.two-column {
    float: left;
    width: 50%;
    padding: 2%;
}

.two-column p {
    font-size: 1.5vw;
    color: black;
}

.two-column img {
    width: 100%;
}


/*+++++++++++*/


/*++++++++++++Styles three-column++++++++++++*/

.three-column {
    /*background-color: #1d80c4;*/
    float: left;
    width: 33%;
    padding: 1%;
    /*text-align: center;*/
}

.three-column h3 {
    font-size: 1.5vw;
    color: white;
    font-weight: bold;
}

.three-column p {
    font-size: 1vw;
    color: white;
    font-weight: bold;
}


/*----------Styles six-column-------------*/

.six-column {
    float: left;
    width: 16.5%;
    padding: 2%;
}

.six-column img {
    width: 30%;
    padding-left: 3%;
    padding-top: 1%;
}


/*++++++++++++++Botón descargar+++++++++++++*/

.two-columnB {
    float: left;
    width: 50%;
    padding: 2%;
}

.two-columnC {
    float: left;
    width: 50%;
    padding: 2%;
    display: none;
}

.two-columnD {
    float: left;
    width: 50%;
    padding: 2%;
    display: none;
}

.recuadro {
    border: 0.21vw solid rgba(255, 255, 255, 0.5);
    /*background-color: rgb(95, 154, 243);*/
    background: linear-gradient(150deg, rgb(95, 154, 243), rgb(81, 123, 221), rgb(95, 154, 243));
    text-align: center;
    transition: 0.3s;
    overflow: auto;
    border-radius: 50px;
}

.recuadro p {
    color: rgba(255, 255, 255, 0.8);
    /*font-family: "Weathertop";*/
    font-family: "Sweet";
}

.recuadro img {
    width: 30%;
    padding-left: 3%;
    padding-top: 7%;
}

.recuadro:hover {
    background: linear-gradient(150deg, rgb(81, 123, 221), rgb(95, 154, 243), rgb(81, 123, 221));
    /*background-color: rgb(81, 123, 221);*/
    border: 0.21vw solid rgba(255, 255, 255, 1);
    border-radius: 70px;
}

.recuadro:hover .texto {
    color: rgba(255, 255, 255, 1);
}

.recuadro-fuera {
    padding-left: 15%;
    padding-right: 15%;
}

.alinear-boton {
    padding-top: 6%;
    padding-bottom: 0%;
}


/*+++++++++++++++++++++++*/


/*+++++++++++++RUTA++++++++++++*/

.maparuta {
    width: 100%;
    display: inline-flex;
}

.maparuta p {
    width: 45%;
}

.maparuta h1 {
    width: 5%;
}

iframe {
    width: 50%;
    height: 30vw;
    border: 0;
    margin: 0;
    scroll-behavior: unset;
}


/*frameborder="0" marginheight="0" marginwidth="0"*/


/*++++++++++++++++*/


/*++++++++++++++++TABLA++++++++++++++++++*/

#corredoresins {
    background-image: url('../img/inscripciones3.jpg');
    background-attachment: fixed;
    background-size: contain;
    background-size: 120%;
    backdrop-filter: blur(4px);
}

.blurry {
    backdrop-filter: blur(4px);
}

#corredores {
    /*border-collapse: collapse;*/
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#corredores td,
#corredores th {
    padding: 1%;
}

#corredores tr {
    border: 1px solid black;
}

#corredores tr:nth-child(even) {
    background-color: #99cef1;
}

#corredores tr:nth-child(odd) {
    background-color: #7ec5f5;
}

#corredores th {
    background-color: #1d80c4;
    color: white;
    font-size: 1.5vw;
}

#corredores td {
    color: rgb(255, 255, 255);
    font-size: 1.3vw;
    font-weight: 200px;
}

#corredores tr:hover {
    background-color: #1d80c4
}


/*++++++++++++++++++++++++*/


/*+++++++++++++++Style Footer+++++++++++++++++++*/

.two-columnFooter {
    float: left;
    width: 50%;
    padding: 2%;
}

.two-columnFooter p {
    font-size: 2vw;
    color: white;
    font-weight: bold;
}

@keyframes BgGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.footer {
    background: linear-gradient(140deg, rgb(243, 95, 95), rgb(81, 123, 221), rgb(81, 123, 221), rgb(33, 134, 2));
    animation: BgGradient 5s ease infinite;
    /*background-color: #1d80c4;*/
}

.footer img {
    width: 20%;
}

.footer h1 {
    font-size: 1.5vw;
}

.footer p {
    font-size: 0.8vw;
}

.footer h1,
.footer p {
    color: white;
    font-weight: bolder;
}

.logo_rs {
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*display: block;*/
}

.logo_rs img {
    padding-top: 15%;
    width: 5%;
}

.footer .six-column {
    text-align: center;
}

.clear {
    display: none;
    clear: both;
}


/*++++++++++++++Style clases apoyo++++++++++++++++*/

.cuenta-atras {
    background-color: #1d80c4;
    float: left;
    width: 100%;
    padding: 0%;
    text-align: center;
    border-radius: 1vw;
}

.sinPaddingU {
    padding-top: 0%;
    padding-bottom: 0%;
}

.alinearCA {
    padding-top: 2%;
    padding-bottom: 1.3%;
}

#desnivel img {
    padding-top: 10%;
}

.masFoto:hover {
    width: 200%;
    position: relative;
    top: -65px;
    left: -35px;
    height: auto;
    display: block;
}

.tnormal {
    display: block;
}

.tresponsive {
    display: none;
}

.video iframe {
    /*width: "1586";
    height: "613";*/
    width: 90%;
    height: 50vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/*++++++++++Style IDs++++++++++++*/

#section-1 {
    float: left;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: left;
}

#desnivel {
    background: #1d80c4;
}

#desnivel h1,
#desnivel p {
    color: white;
}

#expositor .dado {
    padding-right: 10%;
}

#galeria img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#corredoresins h1 {
    color: black;
}


/*++++++++++++++++++++++++++++++++++RESPONSIVE+++++++++++++++++++++++++++++++++++++*/

@media screen and (max-width: 1900px) {}

@media screen and (max-width:1800px) {
    .recuadro {
        border-radius: 40px;
    }
}

@media screen and (max-width: 1660px) {
    .navbar .content .menu-list {
        margin-left: 13%;
    }
}

@media screen and (max-width: 1570px) {
    .navbar .content .menu-list {
        margin-left: 10%;
    }
}

@media screen and (max-width: 1480px) {
    .navbar .content .menu-list {
        margin-left: 6%;
    }
}

@media screen and (max-width:1450px) {
    .recuadro {
        border-radius: 30px;
    }
}

@media screen and (max-width: 1420px) {
    /*--------navbar-----------*/
    body.disabledScroll {
        overflow: hidden;
    }
    .icon {
        display: block;
    }
    .menu-btn {
        font-size: 40px;
    }
    .menu-btn:hover {
        color: lightskyblue;
    }
    .cancel-btn {
        font-size: 30px;
    }
    .cancel-btn:hover {
        color: lightcoral;
    }
    .icon.hide {
        display: none;
    }
    .navbar .logo img {
        width: 75%;
    }
    .navbar .content .menu-list {
        margin-left: 0;
        width: auto;
    }
    .navbar .menu-list {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        background: #1d80c4;
        display: block;
        padding: 40px 0;
        text-align: center;
        transition: all 0.3s ease;
        margin-top: 0;
    }
    .navbar .menu-list.active {
        left: 0%;
    }
    .navbar .menu-list li {
        margin-top: 45px;
        /*Para que se vea uno bajo otro*/
        width: 100%;
    }
    .navbar .menu-list li a {
        color: white;
        font-size: 30px;
    }
    .navbar .menu-list li a:hover {
        color: rgb(171, 237, 253);
    }
    /*--------------------*/
    @media screen and (max-height:450px) {
        .navbar .content .menu-list {
            max-width: 100%;
            width: 90%;
        }
        .navbar .menu-list li {
            width: 40%;
            margin-left: auto;
            margin-right: auto;
            display: inline-flex;
        }
    }
}

@media screen and (max-width:1150px) {
    .recuadro {
        border-radius: 25px;
    }
}

@media screen and (max-width:1100px) {
    .header {
        padding-top: 20%;
        padding-right: 12%;
        padding-left: 12%;
    }
    .header h1 {
        font-size: 10vw;
    }
    .header h2 {
        font-size: 4vw;
    }
    .titulo {
        border: 1.4vw solid #1d80c4;
    }
    /*---Cuenta atras---*/
    #section-1 {
        padding-left: 5%;
        padding-right: 5%;
    }
    .three-column h3 {
        font-size: 3vw;
    }
    .two-columnB p {
        /*font-size: 2.2vw;*/
        font-size: 1.5vw;
    }
    .recuadro {
        border: 0.42vw solid rgba(255, 255, 255, 0.5);
    }
    .recuadro:hover {
        border: 0.42vw solid rgba(255, 255, 255, 1);
    }
    .recuadro-fuera {
        padding-left: 0%;
        padding-right: 0%;
    }
    .two-columnB img {
        padding-top: 12%;
    }
    .recuadro-fuera {
        padding-top: 4%;
    }
    .recuadro {
        border-radius: 50px;
    }
    /*--------*/
    /*---Ruta--*/
    /*.one-column img {
        width: 75%;
    }*/
    .one-column h1 {
        font-size: 5vw;
    }
    .one-column p {
        font-size: 3vw;
    }
    .two-column {
        width: 100%;
    }
    .two-column p {
        font-size: 3vw;
    }
    .maparuta {
        display: block;
    }
    .maparuta iframe {
        width: 100%;
        height: 45vw;
    }
    .maparuta h1 {
        display: none;
    }
    .maparuta p {
        width: 100%;
        padding-left: 2%;
        padding-right: 2%;
    }
    /*----------*/
    /*---El desnivel---*/
    .masFoto:hover {
        width: 110%;
    }
    #desnivel img {
        padding-top: 0%;
    }
    .tnormal {
        display: none;
    }
    .tresponsive {
        display: block;
    }
    /*---------------*/
    /*----EXPOSITOR-----*/
    #expositor .dado {
        padding-right: 2%;
    }
    /*-----------*/
    /*------TABLA-----*/
    #corredores th {
        font-size: 1.8vw;
    }
    #corredores td {
        font-size: 1.6vw;
    }
    #corredoresins {
        background-size: 130%;
    }
    /*-----------*/
    /*----------Galería----------*/
    /*#galeria img {
        width: 60%;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }*/
    .video iframe {
        width: 90%;
    }
    #galeria .two-column {
        width: 50%;
    }
    #galeria img {
        width: 100%;
    }
    /*--------------*/
    /*------FOOTER--------*/
    .six-column {
        width: 33%;
    }
    .footer h1 {
        font-size: 3.3vw;
    }
    .footer p {
        font-size: 2.3vw;
    }
    .clear {
        display: block;
    }
    .two-columnFooter {
        width: 100%;
    }
    .footer {
        margin-left: auto;
        margin-right: auto;
    }
    .two-columnFooter img {
        width: 20%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .two-columnFooter iframe {
        width: 50%;
        height: 60vw;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .logo_rs img {
        width: 5%;
        padding-top: 0%;
    }
    /*--------------------*/
}

@media screen and (max-width:1000px) {
    /*.one-column img {
        width: 75%;
    }*/
    /*----TABLA----*/
    #corredoresins {
        background-size: 135%;
    }
    /*------------*/
}

@media screen and (max-width:950px) {
    /*----TABLA----*/
    #corredoresins {
        background-size: 145%;
    }
    /*------------*/
}

@media screen and (max-width:900px) {
    .header {
        background-position-x: right;
    }
    #corredores th {
        font-size: 2.1vw;
    }
    #corredores td {
        font-size: 1.9vw;
    }
    .recuadro {
        border-radius: 40px;
    }
    /*----TABLA----*/
    #corredoresins {
        background-size: 155%;
    }
    /*------------*/
}

@media screen and (max-width:850px) {
    /*----TABLA----*/
    #corredoresins {
        background-size: 170%;
    }
    /*------------*/
}

@media screen and (max-width:800px) {
    /*----navbar---*/
    .navbar .logo img {
        width: 75%;
    }
    /*---Header---*/
    .header {
        padding-left: 10%;
        padding-right: 10%;
    }
    .titulo:hover {
        backdrop-filter: blur(0px);
    }
    .header h1 {
        font-size: 12vw;
    }
    .header h2 {
        font-size: 4vw;
    }
    /*---------*/
    /*---Cuenta atras---*/
    .recuadro-fuera {
        padding-top: 0%;
        padding-bottom: 3%;
    }
    .three-column {
        width: 100%;
        text-align: center;
    }
    .three-column h3 {
        font-size: 2.5vw;
    }
    .three-column p {
        font-size: 2vw;
    }
    .two-columnB p {
        /*font-size: 2.3vw;*/
        font-size: 1.5vw;
    }
    /*--Se cambian las columnas a mostrar--*/
    .two-columnB {
        /*font-size: 2.3vw;*/
        font-size: 1.5vw;
        display: none;
    }
    .two-columnC {
        display: inline-block;
        width: 66%;
    }
    .two-columnC p {
        /*font-size: 2.3vw;*/
        padding-top: 0%;
        font-size: 2.3vw;
    }
    .two-columnD {
        display: inline-block;
        width: 33%;
    }
    .two-columnD img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 30%;
        padding-top: 0%;
    }
    /*----*/
    #section-1 {
        padding-left: 20%;
        padding-right: 20%;
    }
    .recuadro-fuera {
        padding-left: 15%;
        padding-right: 15%;
    }
    .recuadro {
        border-radius: 30px;
    }
    /*.recuadro img {
        width: 20%;
        padding-top: 5%;
        padding-left: 0%;
    }*/
    .alinearCA {
        padding-top: 0%;
        padding-bottom: 0%;
    }
    .alinear-boton {
        padding-top: 5%;
        padding-bottom: 0%;
    }
    /*--------*/
    /*---Ruta--*/
    /*.one-column img {
        width: 100%;
    }*/
    .one-column h1 {
        font-size: 5vw;
    }
    .one-column p {
        font-size: 3vw;
    }
    .two-column {
        width: 100%;
    }
    .two-column p {
        font-size: 3vw;
    }
    /*----------*/
    /*---El desnivel---*/
    .masFoto:hover {
        width: 100%;
        position: relative;
        top: 0px;
        left: 0px;
        height: auto;
        display: block;
        z-index: 1;
    }
    /*-----------------*/
    /*----TABLA----*/
    #corredoresins {
        background-size: 180%;
    }
    /*------------*/
    /*---FOOTER---*/
    .two-columnFooter {
        width: 100%;
    }
    .two-columnFooter img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .six-column {
        width: 100%;
        padding: 2%;
        padding-top: 0;
        text-align: center;
    }
    .footer h1 {
        font-size: 3vw;
    }
    .footer p {
        font-size: 2vw;
    }
    /*----------------*/
    @media screen and (max-height:450px) {
        .navbar .content .menu-list {
            max-width: 100%;
            width: 100%;
        }
        .navbar .logo img {
            width: 40%;
        }
    }
}

@media screen and (max-width:750px) {
    /*----TABLA----*/
    #corredoresins {
        background-size: 190%;
        background-position-x: 40%;
    }
    /*------------*/
}

@media screen and (max-width:700px) {
    .menu-btn {
        font-size: 40px;
    }
    .cancel-btn {
        font-size: 30px;
    }
    .navbar .menu-list {
        max-width: 40%;
    }
    .navbar .menu-list li a {
        font-size: 3vw;
    }
    .maparuta iframe {
        height: 50vw;
    }
    /*----TABLA----*/
    #corredoresins {
        background-size: 215%;
        background-position-x: 40%;
    }
    /*------------*/
}

@media screen and (max-width:650px) {
    #corredores {
        width: 100%;
    }
    #corredores th {
        font-size: 2.8vw;
    }
    #corredores td {
        font-size: 2.6vw;
    }
    /*----TABLA----*/
    #corredoresins {
        background-size: 225%;
    }
    /*------------*/
}

@media screen and (max-width:600px) {
    .menu-btn {
        font-size: 30px;
    }
    .cancel-btn {
        font-size: 20px;
    }
    .navbar .menu-list {
        max-width: 45%;
    }
    .header {
        padding-top: 20%;
    }
    .navbar .logo img {
        width: 50%;
    }
    .footer h1 {
        font-size: 4vw;
    }
    .footer p {
        font-size: 2.5vw;
    }
    .recuadro {
        border-radius: 25px;
    }
    /*----TABLA----*/
    #corredoresins {
        background-size: 240%;
    }
    /*------------*/
}

@media screen and (max-width:550px) {
    .maparuta iframe {
        height: 60vw;
    }
    .recuadro {
        border-radius: 25px;
    }
    /*----TABLA----*/
    #corredoresins {
        background-size: 260%;
    }
    /*------------*/
}

@media screen and (max-width:500px) {
    .navbar .menu-list li a {
        font-size: 4vw;
    }
    .navbar .menu-list {
        max-width: 50%;
    }
    /*----TABLA----*/
    #corredoresins {
        background-size: 285%;
    }
    /*------------*/
    @media screen and (max-height:450px) {
        .navbar .menu-list li a {
            font-size: 3.5vw;
        }
    }
}

@media screen and (max-width:450px) {
    .header {
        padding-top: 25%;
        background-position-x: 70%;
    }
    .one-column h1 {
        font-size: 6vw;
    }
    .one-column p {
        font-size: 4vw;
    }
    .two-column p {
        font-size: 4vw;
    }
    .three-column h3 {
        font-size: 4vw;
    }
    .two-columnC p {
        /*font-size: 2.3vw;*/
        padding-top: 0%;
        font-size: 3.3vw;
    }
    .recuadro-fuera {
        padding-right: 7%;
        padding-left: 7%;
    }
    .recuadro {
        border: 0.72vw solid rgba(255, 255, 255, 0.5);
    }
    .recuadro:hover {
        border: 0.72vw solid rgba(255, 255, 255, 1);
    }
    #section-1 {
        padding-left: 10%;
        padding-right: 10%;
    }
    .navbar .menu-list {
        max-width: 55%;
    }
    #corredores th {
        font-size: 3vw;
    }
    #corredores td {
        font-size: 2.8vw;
    }
    /*----TABLA----*/
    #corredoresins {
        background-size: 315%;
    }
    /*------------*/
}

@media screen and (max-width:415px) {
    .header {
        background-position-y: bottom;
        background-position-x: 80%;
    }
}

@media screen and (max-width:400px) {
    /*----TABLA----*/
    #corredoresins {
        background-size: 355%;
    }
    /*------------*/
}

@media screen and (max-width:350px) {
    .menu-btn {
        font-size: 20px;
    }
    .cancel-btn {
        font-size: 15px;
    }
    .recuadro {
        border-radius: 20px;
    }
    /*----TABLA----*/
    #corredoresins {
        background-size: 370%;
        background-position-x: 40%;
    }
    /*------------*/
}

@media screen and(max-width:300px) {
    #corredores th {
        font-size: 3vw;
    }
    #corredores td {
        font-size: 2.8vw;
    }
}